policy_with_crud_levels:
- name: example-role-jpwdp
  description: bruh
  arn: arn:aws:iam::123456789012:role/example-role-jpwdp
  write:
    - arn:aws:ec2:us-west-1:012345678910:vpc/vpc-0066a88d425956d10
    - arn:aws:s3:::kinnaird-sfdc-policy_sentry-demo-jpwdp/my-path
  read:
    - arn:aws:s3:::kinnaird-sfdc-policy_sentry-demo-jpwdp
    - arn:aws:ssm:us-west-1:012345678910:parameter/policy_sentry/test-jpwdp
    - arn:aws:ec2:us-west-1:012345678910:vpc/vpc-0066a88d425956d10
  list:
    - arn:aws:s3:::kinnaird-sfdc-policy_sentry-demo-jpwdp
    - arn:aws:ssm:us-west-1:012345678910:parameter/policy_sentry/test-jpwdp
    - arn:aws:ec2:us-west-1:012345678910:vpc/vpc-0066a88d425956d10
  permissions-management:
    - arn:aws:ssm:us-west-1:012345678910:parameter/policy_sentry/test-jpwdp
  tagging:
    - arn:aws:ec2:us-west-1:012345678910:vpc/vpc-0066a88d425956d10
