### Python

Pipfile.lock
build/*
dist/*
policy_sentry.egg-info/*

### Repository
docs/*
test/*
examples/*

### Test files
*.csv
_notes/*
tmp/*
tmp.yml
report.json
report.csv
report.md

### IDEs ###
.idea/*
.vscode/*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*
