# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.yml]
indent_style = space
indent_size = 2

# Docstrings and comments use max_line_length = 79
[*.py]
max_line_length = 119

[docs/**.txt]
max_line_length = 79

[*.{tf,tfvars}]
indent_size = 2
indent_style = space
