[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-docs]
Pygments = "*"
setuptools = "*"
docutils = "*"
mock = "*"
pillow = "*"
alabaster = "*"
commonmark = "*"
recommonmark = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
readthedocs-sphinx-ext = "*"
sphinx_markdown_tables = "*"
sphinxcontrib-apidoc = "*"

[dev-packages]
bandit = "==1.6.2"
coverage = "*"
nose = "*"
pytest = "==5.2.1"
pylint = "==2.4.2"
setuptools = "*"
wheel = "==0.33.6"
safety = "==1.8.7"
invoke = "*"
black = "==19.10b0"

[packages]
beautifulsoup4 = "==4.8.2"
PyYAML = "==5.3.1"
requests = "==2.22.0"
click = "==7.1.1"
click_log = "==0.3.2"
schema = "==0.7.1"

[requires]
python_version = "3.7"
