[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-docs]
Pygments = "*"
setuptools = "*"
docutils = "*"
mock = "*"
pillow = "*"
alabaster = "*"
commonmark = "*"
recommonmark = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
readthedocs-sphinx-ext = "*"
sphinx_markdown_tables = "*"

[dev-packages]
bandit = "*"
nose = "*"
pytest = "*"
pylint = "*"
autopep8 = "*"
setuptools = "*"
wheel = "*"
schema = "*"

[packages]
bs4 = "*"
Cython = "*"
html5lib = "*"
lxml = "*"
pandas = "==0.24.0"
policyuniverse = "*"
PyYAML = "*"
requests = "*"
SQLAlchemy = "*"
click = "*"
schema = "*"
pprint = "*"
botocore = "*"
boto3 = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
