[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pytest = "*"
pylint = "*"
autopep8 = "*"
setuptools = "*"
wheel = "*"
schema = "*"

[packages]
bs4 = "*"
Cython = "*"
html5lib = "*"
lxml = "*"
pandas = "==0.24.0"
policyuniverse = "*"
PyYAML = "*"
requests = "*"
SQLAlchemy = "*"
click = "*"
schema = "*"
pprint = "*"
botocore = "*"
boto3 = "*"
jinja2 = "*"
policy-sentry = {editable = true,path = "."}

[requires]
python_version = "3.7"
