[tool.mypy]
files = "policy_sentry"
strict = true
pretty = true

exclude = [
    '^policy_sentry/analysis',
    '^policy_sentry/bin',
    '^policy_sentry/command',
    '^policy_sentry/querying',
    '^policy_sentry/writing',
]
