-r requirements.txt
# CI
pre-commit==4.3.0
# Unit Testing
pytest==8.4.2
coverage==7.10.7
# Integration tests and tasks
invoke==2.2.0
# Type hints
mypy==1.18.2
types-pyyaml==6.0.12.20250915
types-requests==2.32.4.20250913
types-beautifulsoup4==4.12.0.20250516
