# CI
pre-commit==3.5.0 # 3.6+ requires Python 3.9
# Unit Testing
pytest==8.2.2
coverage==7.6.0
# Integration tests and tasks
invoke==2.2.0
# Type hints
mypy==1.10.1
types-pyyaml==6.0.12.20240311
types-requests==2.32.0.20240712
types-beautifulsoup4==4.12.0.20240511
# Other? Maybe this is from the docs? Not sure.
# appdirs==1.4.4
# astroid==2.5.6
# attrs==20.3.0
# dparse==0.5.1
# future==0.18.2
# gitdb==4.0.5
# GitPython==3.1.14
# iniconfig==1.1.1
# isort==5.8.0
# Jinja2==2.11.3
# joblib==1.0.1
# lazy-object-proxy==1.6.0
# livereload==2.6.3
# markdown==3.3.4
# MarkupSafe==1.1.1
# mccabe==0.6.1
# mypy-extensions==0.4.3
# nltk==3.5
# packaging==20.9
# pathspec==0.8.1
# pbr==5.5.1
# pluggy==0.13.1
# py==1.10.0
# pyparsing==2.4.7
# regex==2021.3.17
# requests==2.25.1
# six==1.15.0
# stevedore==3.3.0
# toml==0.10.2
# tornado==6.1
# tqdm==4.59.0
# typed-ast==1.4.2
# typing-extensions==3.7.4.3
# wrapt==1.12.1
