beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
click-log==0.3.2
contextlib2==0.6.0.post1
idna==2.8
packaging==20.3
PyYAML==5.3.1
requests==2.22.0
schema==0.7.1
soupsieve==2.0
urllib3==1.25.9
