table, th, td {
    padding: 5px;
    padding-bottom:8px;
    padding-top:8px;
}
/*table {*/
/*    border-collapse: collapse;*/
/*}*/

/*table tr {*/
/*    border-bottom: thin solid grey;*/
/*    width: 70%;*/
/*}*/

/*table tr:last-child {*/
/*    border: 0;*/
/*}*/

table tr:first-child {
    border: 0;
}

.dropdown_width{
    width:7%;
}

.text_width{
    width:40%;
}
.btn_width{
    width:3%;
}
.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-5 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
