mkdocs>=1.1
click==7.0
Jinja2==2.11.2
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
PyYAML==5.3.1
tornado==6.0.4
mkdocs-material-extensions==1.0b1
nltk>=3.2.5
Pygments>=2.4
pymdown-extensions>=7.0
mkdocstrings==0.11.0
pytkdocs==0.3.0
soupsieve==2.0
MarkupSafe==2.0.0a1
six==1.14.0
tornado==6.0.4
future==0.18.2
importlib-metadata==1.6.0
zipp==3.1.0
joblib==0.14.1
