# unique to ReadTheDocs
atomicwrites==1.4.0
distlib==0.3.4
filelock==3.6.0
mkdocs==1.3.0
mkdocs-material==8.2.9
mkdocs-material-extensions==1.0.3
mkdocstrings==0.18.1
mkdocstrings-python>=0.5.2
mkdocstrings-python-legacy==0.2.2
Pygments==2.15.0
pymdown-extensions==9.3
pytkdocs==0.16.1
docutils==0.18.1
# Trying to see if RTFD needs these
markdown==3.3.6
typed-ast==1.5.2
MarkupSafe==2.1.1
Jinja2==3.1.1
# For the automatic method documentation generation, get the latest version of policy sentry
policy_sentry
