# unique to ReadTheDocs
atomicwrites==1.4.0
distlib==0.3.1
filelock==3.0.12
mkdocs==1.1.2
mkdocs-material==7.1.4
mkdocs-material-extensions==1.0.1
mkdocstrings==0.15.0
Pygments==2.9.0
pymdown-extensions==8.2
pytkdocs==0.11.1
docutils==0.17.1
# Trying to see if RTFD needs these
markdown==3.3.4
typed-ast==1.4.3
MarkupSafe==2.0.0
