# .github/workflows/test.yml

name: continuous-integration

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

env:
  JUST_VERSION: '1'
  PREK_VERSION: '0.2.22'
  TERRAFORM_VERSION: '1.13'

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: '.python-version'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
        with:
          just-version: ${{ env.JUST_VERSION }}
      - uses: j178/prek-action@564dda4cfa5e96aafdc4a5696c4bf7b46baae5ac # v1.1.0
        with:
          prek-version: ${{ env.PREK_VERSION }}

  sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          activate-environment: true
      - run: uv sync --frozen

      - run: just build-package
      - run: just validate-sdist
      - run: just validate-wheel

  ci:
    needs: [prek, sanity]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          activate-environment: true
      - run: uv sync --frozen

      - run: just build-package
      - run: just type-check
      - run: just unit-tests
      - run: just integration-tests

  python-version:
    needs: [prek, sanity]
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: true
      matrix:
        python: ['3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          python-version: ${{ matrix.python }}
          activate-environment: true
      - run: uv sync --frozen

      - run: just build-package
      - run: just unit-tests
      - run: just integration-tests
