name: python-dependency-updater

on:
  # Run on the first day of the month
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  python-dependency-updater:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Setup Python
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: '3.8'

      - name: Run Pyup.io Dependency updater
        run: |
          pip install pyupio
          pip install -r requirements.txt
          default_branch=$(git remote show origin | grep 'HEAD branch' | cut -d' ' -f5)
          pyup --provider github --provider_url https://api.github.com --repo="$GITHUB_REPOSITORY" --user-token=${{ secrets.PYUP_GITHUB_ACCESS_TOKEN }} --branch "$default_branch"
