name: python-dependency-updater

on:
  # Run on the first day of the month
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  python-dependency-updater:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3

      - name: Setup Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: '3.7'

      - name: Run Pyup.io Dependency updater
        run: |
          pip install pyupio
          pip install -r requirements.txt
          default_branch=$(git remote show origin | grep 'HEAD branch' | cut -d' ' -f5)
          pyup --provider github --provider_url https://api.github.com --repo="$GITHUB_REPOSITORY" --user-token=${{ secrets.PYUP_GITHUB_ACCESS_TOKEN }} --branch "$default_branch"
